<div class="container">
    <div class="col-sm-8">
        <div class="row">
            <button class="back" >&lt;fdwhedqwdsaladslbessk</button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="details">
            <h1 class="row motto" >Details</h1>
            <div class="row"><hr/></div>
            <div class="row" >
                <h1 class="col-sm-6 general">General info</h1>
                <hr class="col-sm-4 devider" />
            </div>
            <div class="row">
                <p class="col-sm-5">Type:</p>
                <p class="col-sm-6">Cmar</p>
            </div> 
            <div class="row">
                <p class="col-sm-5">Size:</p>
                <p class="col-sm-6">Cmar</p>
            </div> 
            <div class="row">
                <p class="col-sm-5">Folder:</p>
                <p class="col-sm-6">Cmar</p>
            </div> 
            <div class="row">
                <p class="col-sm-5">Last modifed:</p>
                <p class="col-sm-6">Cmar</p>
            </div> 
            <div class="row" >
                <h1 class="col-sm-4 general">Sharing</h1>
                <hr class="col-sm-6 devider" />
            </div>
            <div class="row">
                <p class="col-sm-5">Owner:</p>
                <p class="col-sm-6">You</p>
            </div> 
            <div class="row">
                <p class="col-sm-5">View:</p>
                <p class="col-sm-6">Noa</p>
            </div>
            <div class="row" >
                <h1 class="col-sm-4 general">Tags</h1>
                <hr class="col-sm-6 devider" />
            </div>
            <div class="row">
                <p class="col-sm-12">dkasmald, dsdad, adokdnasdm, njdakdas</p>
            </div>
            <div class="row" >
                <h1 class="col-sm-4 general">Caption</h1>
                <hr class="col-sm-6 devider" />
            </div>
            <div class="row">
                <p class="col-sm-12">sajkcbaksjbrhd</p>
            </div>
        </div>
    </div>
</div>