html{
  background-color: #f9f9f9;
}

body{
  font-family: "Poppins";
  font-weight: lighter;
  margin: 0;
  min-height: 100%;
}

.container-login{
  min-height: 100%;
  width: 60%;
  margin: 0 auto;
  margin-top: 20vh;
}

.motto{
  font-weight: bold;
  font-size: 3vh;
  margin-right: 2vh;
}

.message{
  margin-bottom: 0;
}

.welcome-back img{
  height: 22vh;
  display: block;
  margin: 0 auto;
}

.sign-in{
  font-weight: bold;
  font-size: 3vh;
}

.form{
  margin-left: 7px;
}

.input-box{
  margin-bottom: 15px;
}

form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.input-box input{
  height: 5vh;
  width: 100%;
  outline: none;
  font-size: 13px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid{
  border-color: #fdc901;
}

.button{
  height: 45px;
  margin: 15px auto;
  width: 60%;
}

.button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #161616;
}

.button input:hover{
  /* transform: scale(0.99); */
  background: #fdc901;
  color: black;
}

.col-sm-6{
  padding-right: 0;
}

.line{
  border-left: 1px solid rgba(0, 0, 0, 0.16);
}

/*.vertical-line {*/
/*  border-left: 1px solid black;*/
/*  height: 100px;*/
/*}*/
