<div class="container-login">
  <div class="col-sm-6 welcome-back">
    <div class="row">
      <br />
      <p class="motto">Welcome back to DataHive</p>
    </div>
    <div class="row">
      <p class="message">
        You were missed! Welcome back and let's pick up right where we left off.
        First time visiting us?
      </p>
      <a routerLink="/registration">Create account.</a>
    </div>
    <div class="row">
      <img src="..\..\assets\logo.png" />
    </div>
  </div>
  <div class="col-sm-6 line">
    <div class="row form">
      <br />
      <p class="sign-in">Sign in</p>
    </div>
    <form (ngSubmit)="signInUser()" [formGroup]="loginForm">
      <div class="row form">
        <div class="input-box">
          <span class="details">Username</span>
          <input
            type="text"
            placeholder="bobRoss1"
            required
            id="username"
            formControlName="username"
          />
        </div>
      </div>
      <div class="row form">
        <div class="input-box">
          <span class="details">Password</span>
          <input
            type="password"
            placeholder="********"
            required
            id="password"
            formControlName="password"
          />
        </div>
      </div>
      <div class="row">
        <div class="button">
          <input type="submit" value="Sign in"/>
        </div>
      </div>
    </form>
  </div>
</div>
