*{
    font-family: "Poppins";
    font-weight: lighter;
}

img {
    height: 50px
}

img:hover {
    cursor: pointer;
}

#navbar {
    width: 100%;
    position: absolute;
    height: 60px;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    display: inline-block;
    margin: 6px 0px 0px 20px;
    padding: 6px 0px 6px 0px;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

a:hover {
    transform: scale(1.02);
    text-decoration: none;
}

#name {
    position: relative;
    top: 5px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    line-height: 50px;
}

#homeButton {
    color: #FFFFFF;
}

#logoutButton {
    color: #fdc901;
    cursor: pointer;
}

#loginButton {
    color: #FFFFFF;
}

#registerButton {
    color: #fdc901;
}

#registerByInviteButton {
    color: #fda501;
}

#logo {
    /* top: 3px; */
    position: relative;
    height: 40px;
    overflow: hidden;
    padding-left: 10%;
    cursor: pointer;
}


#navigation {
    display: inline;
    float: right;
    margin-top: 10px;
    padding-right: 10%;
}

.img-fluid {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #navbar {
        height: 120px;
    }
    #logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0; 
    }
    #navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-top: 20px;
        float:none;
    }
}

