<h1 mat-dialog-title>Add file</h1>
<mat-dialog-content>
    <form [formGroup]="uploadFileGroup">
        <mat-form-field>
            <mat-label>Caption</mat-label>
            <input matInput formControlName="caption" type="text" width="100%">
        </mat-form-field>
        <mat-form-field>
            <ngx-mat-file-input formControlName="basicfile" placeholder="Upload File" (change)="onFileSelected($event)"></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button type="submit" (click)="uploadFile()">Submit</button>
    <button mat-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>