<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="col-sm-6 mottos">
            <div class="row">
                <br>
                <p class="motto">Don't get lost in the swarm - store your files safely in our hive.</p>
            </div>
            <div class="row">
                <p>Our drive app offers secure and convenient file storage that's easy to use. Keep your files organized
                    and accessible from anywhere. Join today and never lose a file again</p>
            </div>
            <div class="row">
                <img src="..\..\assets\beehive.png">
            </div>
        </div>
        <div class="col-sm-6 line">
            <div class="row form">
                <br>
                <p class="sign-up">Sign up for DataHive</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-box form">
                        <span class="details">Fisrt name</span>
                        <input type="text" placeholder="Bob" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-box">
                        <span class="details">Last name</span>
                        <input type="text" placeholder="Ross" required>
                    </div>
                </div>
            </div>
            <div class="row form">
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" placeholder="BobRoss1" required>
                </div>
            </div>
            <div class="row form">
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="bob@mail.com" required>
                </div>
            </div>
            <div class="row form">
                <div class="input-box">
                    <span class="details">Birth date</span>
                    <input type="date" id="date-input" placeholder="12.02.1988." required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-box form">
                        <span class="details">Password</span>
                        <input type="password" placeholder="********" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-box form">
                        <span class="details">Repeat password</span>
                        <input type="password" placeholder="********" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="button">
                    <input type="submit" value="Register">
                  </div>
            </div>
        </div>
    </div>

</body>
<!-- <div class="element"></div> -->
</html>